.App {
  text-align: center;
  color: whitesmoke;
}
.img-logo {
  width: 100px;
  height: 100px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.first {
  padding: 1rem;
}
.second {
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding: 1rem;
}
.you-can {
  visibility: hidden;
  width: 200px;
  margin-right: 5rem;
  /* z-index: 1; */
}
.you-can:hover {
  visibility: visible;
  color: rgb(14, 21, 28);
}
.second-nav {
  border-bottom: 0px solid white;
  transition: border-bottom 0.24s ease-in-out, transform 0.55s ease-in;
  margin-bottom: 30px;
  height: 10px;
}
.second-nav:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: border-bottom 0.24s ease-in-out, transform 0.55s ease-in;
  transform: scaleX(0);
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  margin: 2px;
  gap: 2rem;
}
.grid-child {
  border-radius: 3px;
  width: 200px;
  height: 200px;
  background-color: #282c34;
  border: 1px solid rgb(255, 255, 255);
  transition: color 0.3s linear, background-color 0.3s linear,
    border 0.3s linear;
}
.grid-child:hover {
  color: rgb(12, 12, 12);
  border: 1px solid #000;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
