.App {
  text-align: center;
  background-color: #fffefe;
  box-shadow: 1px 1px 1px 1px black;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  padding-bottom: 12rem;
}

.top {
  color: #d1ce66;
  border: none;
  font-weight: 400;
  height: 1rem;
  padding: 0.2rem;
  font-family: monospace;
  background-color: #201e1e;
  border-bottom: 1px solid black;
}
.top:hover {
  background-color: #282424;
  font-family: monospace;
}
.highlighter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 8rem;
  /* border: 1px solid rgb(236, 208, 190); */
}
.highlighter-content {
  height: 3rem;
  margin-left: 1rem;
  color: #f43232;
  font-weight: 800;
  font-size: xx-large;
}
.img-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.first {
  padding: 1rem;
}
.second {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  font-weight: 600;
  margin-right: 3rem;
}
.second button {
  background-color: #ffffff;
  outline: none;
  border: none;
  border-radius: 0.1rem;
  box-shadow: 1px 0px 1px rgb(222, 212, 171);
}
.you-can {
  visibility: hidden;
  width: 200px;
  margin-right: 5rem;
}
.you-can:hover {
  visibility: visible;
  color: rgb(14, 21, 28);
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.second-nav {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-right: -0.8rem;
  color: #2d4992;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.second-nav :hover {
  background-color: #fff700;
}
Link {
  text-decoration: "none";
  /* notworkign */
}
.link-hover:hover {
  background-color: #fff700;
  text-decoration: "none";
}
a {
  text-decoration: none;
  color: #303f66;
}

.second-portion {
  width: 3rem;
  height: 3rem;
  display: flex;
  margin-top: 1em;
  margin-left: 3rem;

  justify-content: center;
}
.img {
  object-fit: contain;
}
.main-container {
  width: auto;
  margin-left: 4rem;
  margin-right: 4rem;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.5rem;
  margin-top: 30px;
  row-gap: 1.3rem;
}
.grid-child {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
  width: 300px;
  height: 260px;
  background-color: rgb(114, 177, 249);
  border: 1px solid rgb(7, 112, 164);
  transition: color 0.3s linear, background-color 0.2s linear,
    border 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  font-family: "Courier New", Courier, monospace;
}
.text-deco {
  text-decoration: none;
  margin-bottom: 1rem;
}
.text-deco :hover {
  text-decoration: underline;
}
.grid-child:hover {
  border: 1px solid #000;
  background-color: rgb(21, 97, 183);
}

.flex {
  display: flex;
  gap: 1rem;
}
.box {
  border: 1px solid snow;
  margin-top: 3rem;
  color: white;
}
.box-questions {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid rgb(207, 201, 201);
  align-items: center;
  font-size: 2rem;
  color: #303f66;
}
.flex-inside {
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border: none;
  color: #303f66;

  border-bottom: 1px solid whitesmoke;
}

/* @keyframes glitch {
  0% {
    text-shadow: 0 0 5px #ff0000;
  }
  20% {
    text-shadow: -2px 2px 5px #00ff00, 2px -2px 5px #0000ff;
  }
  40% {
    text-shadow: -2px -2px 5px #ffff00, 2px 2px 5px #00ffff;
  }
  60% {
    text-shadow: 2px 2px 5px #ff00ff, -2px -2px 5px #ffa500;
  }
  80% {
    text-shadow: 2px -2px 5px #00ff00, -2px 2px 5px #ff0000;
  }
  100% {
    text-shadow: 0 0 5px #ff0000;
  }
} */

/* img gltich color */
/* @keyframes glitch {
  0% {
    mix-blend-mode: exclusion;
    filter: hue-rotate(0deg);
  } 
 20% {
    mix-blend-mode: screen;
    filter: hue-rotate(90deg);
  }
  40% {
    mix-blend-mode: color-dodge;
    filter: hue-rotate(180deg);
  }
  60% {
    mix-blend-mode: difference;
    filter: hue-rotate(270deg);
  }
  80% {
    mix-blend-mode: overlay;
    filter: hue-rotate(360deg);
  }
  100% {
    mix-blend-mode: exclusion;
    filter: hue-rotate(0deg);
  }
}
#logo-glitch {
  animation: glitch 5s infinite;
} */

@keyframes glitch {
  0% {
    text-shadow: 0 0 5px #ff0000;
    transform: none;
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: none;
  }
}
#logo-glitch {
  animation: glitch 15s infinite;
}
